.App {
  height: 100vh;
  background-color: #0d1116;
  overflow: scroll;
  text-align: center;
}

.container {
  height: 100%;
  background-color: #0d1116;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container {
  padding-top: 30px;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.sub-text {
  font-size: 150%;
  font-weight: bold;
  color: white;
  padding-left: 25%;
  padding-right: 25%;
  margin-top: 5%;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #c658a3 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.connect-wallet-button {
  background: -webkit-linear-gradient(left, #c658a3, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.mint-button {
  background: -webkit-linear-gradient(left, #a200d6, #ff6fdf);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-right: 15px;
}

.opensea-button {
  background-color: rgb(32, 129, 226);
}

.mint-count {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.status-label {
    color: white;
    font-weight: bold;
    margin-top: 5%;
    text-align: center;
}
.tokenList {
  color: white;
}
.tokenTitle {
  font-size: 150%;
  font-weight: bold;
}
.tokenDescription {
  font-size: 100%;
}
.tokenItem {
  display: inline-block;
  border-radius: 10px;
  background-color: #6d6a75;
  border: 0px solid #6d6a75;
  margin: 1%;
  padding: 1%;
}
.tokenImage {
  text-align: center;
}

.tokenImage img{
  text-align: center;
  height: 25%;
}

.viewTokensTitle {
  font-size: 150%;
  font-weight: bold;
  color: white;
  margin-bottom: 6%;
}

.viewTokensTitle img {
  width: 2%;
  position: relative;
  top: 3px;
  left: 10px;
  cursor: pointer
}
.refreshButton {
  background: none;
  border: none;
  height: 100%;
  display: contents;
}
.navbar {
  overflow: hidden;
  background-color: rgba(109, 106, 117,0.3);
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
}
.navbar button {
  float: right;
  margin: 0.5%;
}
.navbar p {
  font-size: 200%;
  float: left;
  margin-left: 1%;
  margin-top: 0.7%;
}
/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}